<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="{{url_for('static',filename='favicon_nitor.png')}}"/>
     <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
    <title>Demo Project</title>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<!--Navbar section-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">
      <img style="width: 50%;" src="{{url_for('static',filename='logo-edited.png')}}"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {%if not current_user.is_authenticated%}
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('index')}}">Home</a>
      </li>
      {%else%}
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('users.index')}}">Dashboard</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('project.index')}}">Projects</a>
      </li>
      {%endif%}
    </ul>
      {%if current_user.is_authenticated%}
        <div class="form-inline my-2 my-lg-0">
          <a href="{{url_for('users.logout')}}">
            <button class="btn btn-outline-success my-2 my-sm-0"><span class="btn-outline-info" style="color:white">{{session['username']}}</span> Sign out</button>
          </a>
        </div>
    {%else%}
    {% set ur=request.path%}
    {%if not ur=='/users/signin'%}
     <div class="form-inline my-2 my-lg-0">
          <a href="{{url_for('users.login')}}">
            <button class="btn btn-outline-success my-2 my-sm-0">Sign in</button>
          </a>
        </div>
    {%endif%}
      {%endif%}
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"></nav>
<!--END NAVBAR-->
{%block conant%}

{%endblock%}</body>
</html>