{%extends 'base.html'%}
{%block conant%}
<style>
    body{
    height: 100%;
    background-size: cover;
    background:url({{url_for('static',filename='img/login_room.jpg')}})no-repeat center center fixed;
    }
</style>
<div class="back">
    <div class="title-header" style="border-radius:0px;">
        <div class="display-4">Sign in</div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                      <form method="POST">
                          <div class="card-header bg-dark">
                              <center> <img src="{{url_for('static',filename='logo.png')}}"/></center>
                          </div>
                          <div class="card-body">
                                  <div class="form-group">
                                      {{form.email.label}}
                                      {{form.email(class_='form-control',placeholder="Enter email")}}
                                  </div>
                                  <div class="form-group">
                                      {{form.password.label}}
                                      {{form.password(class_='form-control',placeholder="Password")}}
                                  </div>
                              <div style="text-align: right;">
                                  <a href="{{url_for('users.forget_password')}}">Forget Password</a>
                              </div>
                          </div>
                          <center>
                              {%if Error_ == 2 or Error_==1%}
                                  <div class="alert-danger" role="alert">
                                      <span>Please enter valid user name & password</span>
                                  </div>
                              {%elif Error_ == 3%}
                                  <div class="alert-danger" role="alert">
                                      <span>Please enter registered username & password</span>
                                  </div>
                              {%else%}
                                  <div class="alert-success" role="alert">
                                      <span>Welcome</span>
                                  </div>
                              {%endif%}
                          </center>
                          <div class="card-footer">
                                  <button type="submit" class="btn btn-primary">Sign in</button>
                              <a href="{{url_for('users.registration')}}"><input type="button" class="btn btn-warning" value="Sign up"/></a>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}