{%extends 'base.html'%}
{%block conant%}
<div class="jumbotron devunder" style="background:url({{url_for('static',filename='img/networking.jpg')}});" >
    <div class="display-3">New password</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                        {%if status==False%}
                    <form method="POST">
                        <div class="form-group">
                            {{data['username']}}
                        </div>
                        <div class="form-group">
                            {{form.pass1.label}}
                            {{form.pass1(class='form-control',placeholder='Mail id')}}
                        </div>
                        <div class="form-group">
                            {{form.re_enter.label}}
                            {{form.re_enter(class='form-control',placeholder='Mail id')}}
                        </div>
                        <div class="form-group">
                            {{form.submit(class='btn btn-block btn-success')}}
                        </div>
                    </form>
                        {%else%}
                        <div class="form-group">
                            <h3>Password is updated</h3>
                            <a href="{{url_for('users.login')}}" >
                                <button class="btn btn-block btn-success">
                                    Login
                                </button>
                            </a>
                        </div>
                        {%endif%}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                  {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <strong>Error!</strong> {{message}}<br>
                            Please Check mail id it must be registered with this system! and both field must be same.
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                  {% endfor %}
               {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{%endblock%}