{% extends 'base.html'%}
{%block conant%}
<div class="jumbotron devunder" style="background:url({{url_for('static',filename='img/coming-soon.jpg')}});">
    <div class="display-3">All Projects</div>
</div>
<div class="container">
    <div class="card">
        <div class="card-footer">
            <a href="{{url_for('project.new_project')}}" class="btn btn-outline-primary">add new project</a>
            <a href="#" class="btn btn-outline-info">status</a>
            <a href="#" class="btn btn-outline-info">Releasing this months</a>
        </div>
    </div>
    <!--HEADER of the Project actions-->

    <div>
        {% if var|length==0 %}
        <center>
            <h1 class="display-4">Create Project</h1>
            <span>NO Project is created</span>
        </center>
        {%else%}
            {%for pro in var%}
            <div class="card">

                <div class="card-body btn-outline-info">
                    <a href="{{url_for('project.project_view',pid=pro.pid)}}" style="color:black">
                        <h5 class="card-title">{{pro.project_name}}</h5>
                        <p class="card-text">{{pro.project_description}}</p>
                    </a>
                </div>
            </div>
            {%endfor%}
        {%endif%}
    </div>


</div>


{%endblock%}