.title-header{
padding: 3rem 2rem 1rem 1rem;
margin-bottom:5px;
background-color:lightgray;
}
.devunder{
color:#ffffff;
background-size: cover!important;
background-repeat: no-repeat!important;
}
.left_border{
    border-left: .25rem solid #b21d2180!important;
    border-radius: 0px 0px 0px 0px;
}